* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Latest_progUp_slider {
    position: relative;
    width: 100%; 
    height: 50px;
    overflow: hidden;
    background: #1c9ea2;
    cursor: pointer; /* Optional: makes the slider interactive */
}

.Latest_progUp_center {
    display: flex;
    flex-direction: row; /* Arrange content in a row */
    width: 100%; /* Ensure the width is full */
    animation: slideBook 20s infinite linear;
}

.Latest_progUp_box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5px 25px;
    font-size: 17px;
    white-space: nowrap;
}

.Latest_progUp_slider:hover .Latest_progUp_center {
    animation-play-state: paused; /* Pause the animation when hovering over the slider */
}

@keyframes slideBook {
    0% {
        transform: translateX(-20%); /* Start just off the screen to the left */
        opacity: 1;
    }
    50% {
        transform: translateX(0); /* Move to the center */
        opacity: 1;
    }
    100% {
        transform: translateX(100%); /* Move completely off the screen to the right */
        opacity: 1;
    }
}
